<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
  <body>
    <h2>Number of users: <%= count %></h2>
    <div>
      <button class="seeList">See List</button>
      <button class="join">Join Us</button>
    </div>

    <script>
      const seeList = document.querySelector(".seeList");
      const join = document.querySelector(".join");

      seeList.addEventListener("click", () => {
        window.location.href = "/list";
      });
      join.addEventListener("click", () => {
        window.location.href = "/new";
      });
    </script>
  </body>
</html>
